<html layout:decorator="index" xmlns:th="http://www.thymeleaf.org"
>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-7 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Fórum</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
                <script>
                    (function () {
                        var cx = '000738256359333642744:a5_fc3v7vk4';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:search></gcse:search>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <!--FORUM TABLE HEADING-->
                <table th:each="cat : ${categories}" class="table table-bordered forum-table">
                    <thead class="category-heading">
                        <tr>
                            <th colspan="5" th:switch="${cat.getName()}">
                                <a th:case="poradna" href="/category/poradna"><i class="fa fa-users"></i> Poradňa</a>
                                <a th:case="stvorkolky" href="/category/stvorkolky"><i class="fa fa-motorcycle"></i>
                                    Štvorkolky</a>
                                <a th:case="navody" href="/category/navody"><i class="fa fa-wrench"></i> Návody </a>
                                <a th:case="preteky" href="/category/preteky"><i class="fa fa-motorcycle"></i> Preteky
                                </a>
                                <a th:case="videa" href="/category/videa"><i class="fa fa-video-camera"></i> Videá </a>
                                <a th:case="ostatne" href="/category/ostatne"><i class="fa fa-folder"></i> Ostatné </a>
                                <a th:case="bugs" href="/category/bugs"><i class="fa fa-bug"></i> Chyby a návrhy na
                                    zlepšenie fóra </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--NEWEST POSTS-->
                        <tr th:if="${cat.getNewestPost() != null}">
                            <td class="" width="10%" th:switch="${cat.getNewestPost().getUser().getUserImg().generateBase64Image()}">
                                <img th:case="''" th:src="@{/img/user-placeholder.png}"
                                     class="img-fluid rounded-circle d-block" alt="foto používateľa"/>
                                <img th:case="null" th:src="@{/img/user-placeholder.png}"
                                     class="img-fluid rounded-circle d-block" alt="foto používateľa"/>
                                <img th:case="*"
                                     th:src="@{'data:image/jpeg;base64,'+ ${cat.getNewestPost().getUser().getUserImg().generateBase64Image()}}"
                                     alt="foto používateľa" class="img-fluid rounded-circle d-block"/>
                                <p class="info text-center" th:text="${cat.getNewestPost().getUser().getUsername()}"></p>
                            </td>
                            <td class="text-left" width="40%" >
                                <a th:href="@{/post/{id}(id=${cat.getNewestPost().getId()})}"> <b th:text="${cat.getNewestPost().getTitle()}"></b></a>
                                <br/><span class="info"
                                           th:utext="${#strings.abbreviate(cat.getNewestPost().getBody(),100)}"></span>
                            </td>
                            <td class="text-center info" width="10%">
                                <span th:text="${cat.getNewestPost().getViews()}"> </span>
                                <br/><i class="fa fa-eye"></i>
                            </td>
                            <td class="text-center info" width="10%">
                                <span th:text="${cat.getNewestPost().getReplies()}" ></span>
                                <br/><i class="fa fa-comments-o"></i>
                            </td>
                            <td class="text-right" width="30%">
                                <div th:if="${cat.getNewestPost().getLastReply() != null}">
                                    <span class="info"> Posledný komentár</span>
                                    <br/> <span class="strong"
                                                th:text="${cat.getNewestPost().getLastReply().getUser().getUsername()}"> </span>
                                    <span class="info"
                                          th:text="${#dates.format(cat.getNewestPost().getLastReply().getCreated(),'dd.MM.yyyy HH:mm')}"></span>
                                </div>

                            </td>
                        </tr>
                        <!--END NEWEST POSTS-->

                        <!--TOP POSTS-->
                        <tr th:if="${cat.getTopPost() != null}">
                            <td class="" width="10%" th:switch="${cat.getTopPost().getUser().getUserImg().generateBase64Image()}">
                                <img th:case="''" th:src="@{/img/user-placeholder.png}"
                                     class="img-fluid rounded-circle d-block" alt="foto používateľa"/>
                                <img th:case="null" th:src="@{/img/user-placeholder.png}"
                                     class="img-fluid rounded-circle d-block" alt="foto používateľa"/>
                                <img th:case="*"
                                     th:src="@{'data:image/jpeg;base64,'+ ${cat.getTopPost().getUser().getUserImg().generateBase64Image()}}"
                                     class="img-fluid rounded-circle d-block" alt="foto používateľa"/>
                                <p class="info text-center" th:text="${cat.getTopPost().getUser().getUsername()}"></p>
                            </td>
                            <td class="text-left" width="40%" >
                                <a th:href="@{/post/{id}(id=${cat.getTopPost().getId()})}"><b th:text="${cat.getTopPost().getTitle()}"></b></a>
                                <br/><span class="info"
                                           th:utext="${#strings.abbreviate(cat.getTopPost().getBody(),100)}"></span>
                            </td>
                            <td class="text-center info" width="10%">
                                <p th:text="${cat.getTopPost().getViews()}"> </p>
                                <i class="fa fa-eye"></i>
                            </td>
                            <td class="text-center info" width="10%">
                                <p th:text="${cat.getTopPost().getReplies()}" ></p>
                                <i class="fa fa-comments-o"></i>
                            </td>
                            <td class="text-right" width="30%">
                                <div th:if="${cat.getTopPost().getLastReply() != null}">
                                    <span class="info"> Posledný komentár</span>
                                    <br/> <span class="strong"
                                                th:text="${cat.getTopPost().getLastReply().getUser().getUsername()}"
                                                th:if="${cat.getTopPost().getLastReply() != null}"> </span>
                                    <span class="info"
                                          th:text="${#dates.format(cat.getTopPost().getLastReply().getCreated(),'dd.MM.yyyy HH:mm')}"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div id="sidebar" class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <a href="http://www.atvpneumatiky.sk/">
                    <img th:src="@{/img/banner.png}" class="img-fluid" alt="atv-pneumatik.sk banner"/>
                </a>
                <div class="divider"></div>
                <h3 class="text-center"><i class="fa fa-bullhorn"></i> Fresh topics </h3>
                <div th:each="post : ${topPosts}">
                    <a th:href="@{/post/{id}(id=${post.getId()})}"> <b th:text="${post.getTitle()}"></b></a>
                    <div>
                        <span class="info">od </span>
                        <span class="strong" th:text="${post.getUser().getUsername()}"></span>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</div>
</html>