<html layout:decorator="index" xmlns="http://www.w3.org/1999/html">
    <div layout:fragment="content">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <a th:href="@{/category/bugs}">
                            <h2 class="post-title">
                                Vitajte! Sme veľmi radi, že ste zablúdili do končín quad-forum.sk ...
                            </h2>
                            <h3 class="post-subtitle">
                                ... Budeme však ešte radšej, ak nám zanecháte Váš feedback v kategórii chyby a návrhy na
                                zlepšenie.
                                Misiou tohto portálu je totiž vytvoriť vynikajúce miesto pre všetkých priaznivcov
                                štvorkolkárov.
                            </h3>
                        </a>
                        <p class="post-meta">Napísali
                            <a href="#">Quad-forum.sk</a>
                            Apríl, 2018</p>
                    </div>
                    <!-- Pager -->
                    <div class="clearfix">
                        <a class="btn btn-primary float-right" href="#">Staršie príspevky <i
                                class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
    </div>
</html>
