<html layout:decorator="index" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Profil</a></li>
                </ul>
            </div>
            <div id="profileContainer" class="col-sm-12" role="tabpanel">
                <ul id="profileTab" class="nav nav-pills nav-fill " role="tablist">
                    <li class="nav-item" role="presentation">
                        <a id="info-tab" class="nav-link active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Info o používateľovi</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="edit-tab" class="nav-link" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Editovať údaje</a>
                    </li>
                </ul>
                <div id="profileTabsContent" class="tab-content">
                    <div class="tab-pane fade show active " id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="text-center card">
                            <div th:switch="${profileImg}">
                                <img th:case="''" th:src="@{/img/user-placeholder.png}" class="img-fluid mx-auto py-4 profile-img"/>
                                <img th:case="null" th:src="@{/img/user-placeholder.png}" class="img-fluid mx-auto py-4 profile-img"/>
                                <img th:case="*" th:src="@{'data:image/jpeg;base64,'+ ${profileImg}}" class="img-fluid mx-auto py-4 profile-img"/>
                            </div>

                            <h2 class="text-uppercase" th:text="${user.getUsername()}"></h2>
                            <p class="info" th:if="${userRole == 'admin'}" >Admin</p>
                            <p class="info" th:if="${userRole == 'user'}" >User</p>
                            <p class="text-capitalize  fa fa-user" th:text="${ ' ' + user.getFirstName() + ' ' + user.getLastName()}"></p>
                            <p class="font-weight-bold fa fa-envelope" th:text="' ' +${user.getEmail()}">  </p>
                            <p class="font-weight-bold fa fa-phone"  th:text="' ' +${user.getPhone()}">  </p>
                            <p class="info" th:text="'Registrovany od: ' + ${user.getCreated()}"> </p>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                        <form class="card" th:action="@{/uploadWithData}" method="post" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label class="col-sm-2 offset-sm-2 col-form-label" for="nick">Nick:</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="nick" type="text" readonly="readonly" th:placeholder="${user.getUsername()}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 offset-sm-2 col-form-label" for="firstname">Meno:</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="firstname" type="text"  readonly="readonly" th:placeholder="${user.getFirstName()}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 offset-sm-2 col-form-label" for="lastname">Priezvisko:</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="lastname" type="text" readonly="readonly" th:placeholder="${user.getLastName()}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 offset-sm-2 col-form-label" for="email">E-mail:*</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="email" type="email" name="email" th:placeholder="${user.getEmail()}" th:value="${user.getEmail()}" required="required"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 offset-sm-2 col-form-label" for="phone" >Tel.číslo:*</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="phone" type="tel" name="phone" th:placeholder="${user.getPhone()}"  th:value="${user.getPhone()}" required="required"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 offset-sm-2 col-form-label" for="image">Zmeniť profilový obrázok</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="image" name="image" type="file"/>
                                </div>
                                <div th:switch="${profileImg}" class="col-sm-2">
                                    <img th:case="''" th:src="@{/img/user-placeholder.png}" class="img-fluid"/>
                                    <img th:case="null" th:src="@{/img/user-placeholder.png}" class="img-fluid"/>
                                    <img th:case="*" th:src="@{'data:image/jpeg;base64,'+ ${profileImg}}" class="img-fluid img-thumbnail"/>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Potvrdiť zmeny</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--<form method="post" th:action="@{/upload}" enctype="multipart/form-data">-->
                <!--<input id="img" type="file" name="img" multiple="multiple"/>-->
                <!--<button class="btn btn-primary" type="submit">nahrat </button>-->

            <!--</form>-->
            <!--<div class="well">-->
                <!--<form th:action="@{/upload}" class="dropzone" id="dropzone" method="post" enctype="multipart/form-data">-->
                    <!--<div class="dz-default dz-message">-->
                        <!--&gt; &gt; Sem presunte subor(y) pre nahranie alebo kliknite! &lt; &lt;-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        </div>

    </div>
</div>
</html>