<html layout:decorator="index" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-7">
                <ol th:switch="${category.getName()}" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/forum">Fórum</a></li>
                    <li class="breadcrumb-item active" th:case="poradna" href="/category/poradna">Poradňa</li>
                    <li class="breadcrumb-item active" th:case="stvorkolky">Štvorkolky</li>
                    <li class="breadcrumb-item active" th:case="navody">Návody</li>
                    <li class="breadcrumb-item active" th:case="preteky">Preteky</li>
                    <li class="breadcrumb-item active" th:case="videa">Videá</li>
                    <li class="breadcrumb-item active" th:case="ostatne">Ostatné</li>
                    <li class="breadcrumb-item active" th:case="bugs">Chyby a návrhy na zlepšenie fóra</li>
                </ol>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-5  pull-right ">
                <button sec:authorize="isAuthenticated()" class="btn btn-primary btn-block"
                        onclick="window.location='/new-post'">
                    <i class="fa fa-pencil"></i> Nový príspevok
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <table class="table table-bordered forum-table">
                    <thead class="category-heading">
                    <tr>
                        <th colspan="5" th:switch="${category.getName()}">
                            <a th:case="poradna" href="/category/poradna"><i class="fa fa-users"></i> Poradňa</a>
                            <a th:case="stvorkolky" href="/category/stvorkolky"><i class="fa fa-motorcycle"></i>
                                Štvorkolky</a>
                            <a th:case="navody" href="/category/navody"><i class="fa fa-wrench"></i> Návody </a>
                            <a th:case="preteky" href="/category/preteky"><i class="fa fa-motorcycle"></i> Preteky </a>
                            <a th:case="videa" href="/category/videa"><i class="fa fa-video-camera"></i> Videá </a>
                            <a th:case="ostatne" href="/category/ostatne"><i class="fa fa-folder"></i> Ostatné </a>
                            <a th:case="bugs" href="/category/bugs"><i class="fa fa-bug"></i> Chyby a návrhy na
                                zlepšenie fóra </a>
                        </th>                    </tr>
                    </thead>
                    <tbody class="align-middle my-auto">
                    <tr th:each="post : ${posts}">
                        <td width="10%" th:switch="${post.getUser().getUserImg().generateBase64Image()}">
                            <img th:case="''" th:src="@{/img/user-placeholder.png}" class="img-fluid rounded-circle d-block"/>
                            <img th:case="null" th:src="@{/img/user-placeholder.png}" class="img-fluid rounded-circle d-block"/>
                            <img th:case="*" th:src="@{'data:image/jpeg;base64,'+ ${post.getUser().getUserImg().generateBase64Image()}}" class="img-fluid rounded-circle d-block"/>
                            <p class="info text-center" th:text="${post.getUser().getUsername()}"></p>
                        </td>
                        <td class="text-left" width="40%">

                            <b><a th:href="@{'/post/{id}'(id=${post.getId()})}" th:text="${post.getTitle()}"></a></b>
                            <br/><span class="info" th:utext="${#strings.abbreviate(post.getBody(),100)}"></span>
                        </td>
                        <td class="text-center info" width="10%" >
                            <p th:text="${post.getViews()}"></p>
                            <i class="fa fa-eye"></i>
                        </td>
                        <td class="text-center info" width="10%" >
                            <p th:text="${post.getReplies()}"></p>
                            <i class="fa fa-comments-o"></i>
                        </td>
                        <td class="text-right" width="30%">
                            <div th:if="${post.getLastReply() != null}">
                                <span class="info"> Posledný komentár</span>
                                <br/> <span class="strong"
                                            th:text="${post.getLastReply().getUser().getUsername()}"> </span>
                                <span class="info"
                                      th:text="${#dates.format(post.getLastReply().getCreated(),'dd.MM.yyyy HH:mm')}"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="sidebar" class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <a href="http://www.atvpneumatiky.sk/">
                    <img th:src="@{/img/banner.png}" class="img-fluid"/>
                </a>
                <div class="divider"></div>
                <h3 class="text-center"><i class="fa fa-bullhorn"></i> Fresh topics</h3>
                <div class="row" th:each="post : ${topPosts}">
                    <div class="col-sm-12">
                        <a th:href="@{/post/{id}(id=${post.getId()})}"> <b th:text="${post.getTitle()}"></b></a>
                        <div>
                            <span class="info">od </span><span class="strong"
                                                               th:text="${post.getUser().getUsername()}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</div>
</html>