<html layout:decorator="index" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div layout:fragment="content">
    <div class="container mx-auto">
        <!-- board index -->
        <div class="row">
            <div class="col-sm-12">
                <ol th:switch="${category.getName()}" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/forum">Fórum</a></li>
                    <li class="breadcrumb-item" th:case="poradna"><a href="/category/poradna">Poradňa</a></li>
                    <li class="breadcrumb-item" th:case="stvorkolky"><a href="/category/stvorkolky">Štvorkolky</a></li>
                    <li class="breadcrumb-item" th:case="navody"><a href="/category/navody">Návody </a></li>
                    <li class="breadcrumb-item" th:case="preteky"><a href="/category/preteky">Preteky</a></li>
                    <li class="breadcrumb-item" th:case="videa"><a href="/category/videa">Videá</a></li>
                    <li class="breadcrumb-item" th:case="ostatne"><a href="/category/ostatne">Ostatné </a></li>
                    <li class="breadcrumb-item" th:case="bugs"><a href="/category/bugs">Chyby a návrhy na zlepšenie
                        fóra</a></li>
                    <li class="breadcrumb-item active" th:text="${post.getTitle()}"></li>
                </ol>
            </div>
        </div>
        <!--END  board index -->
        <div class="row">
            <div class="col-sm-9">
                <button sec:authorize="isAuthenticated()" class="btn btn-primary new"><i class="fa fa-reply"></i>
                    Odpovedaj
                </button>
            </div>
            <div class="col-sm-3" th:if="${post.getReplies()} != null">
                <p class="board-index"><span th:text="${post.getReplies()}"></span> Prispevkov • Strana 1 z 1
                </p>
            </div>
        </div>
        <!--POST -->
        <div class="forum-container">
            <div class="row border">
                <!--USER INFO-->
                <div class="col-md-3 border-right  post-user-info"
                     th:switch="${post.getUser().getUserImg().generateBase64Image()}">
                    <p class="info"><strong th:text="${post.getUser().getUsername()}"></strong></p>
                    <img th:case="''" th:src="@{/img/user-placeholder.png}"
                         class="img-fluid rounded-circle d-block mx-auto"/>
                    <img th:case="null" th:src="@{/img/user-placeholder.png}"
                         class="img-fluid rounded-circle d-block mx-auto"/>
                    <img th:case="*"
                         th:src="@{'data:image/jpeg;base64,'+ ${post.getUser().getUserImg().generateBase64Image()}}"
                         class="img-fluid rounded-circle d-block mx-auto"/>
                    <p class="info">
                        <span th:text="${post.getUser().getRole()}"></span>
                        <br/>
                        <strong>Prispevkov: </strong> <span th:text="${post.getUser().getPostCount()}"></span> <br/>
                        <strong>Clenom od: </strong> <span
                            th:text="${#dates.format(post.getUser().getCreated(),'dd.MM.yyyy')}"> </span>
                    </p>
                </div>
                <!--END USER INFO-->
                <!--CONTENT-->
                <div class="col-md-9">
                    <div class="post-content">
                        <div sec:authorize="isAuthenticated()" class="btn-group pull-right">
                            <i class="fa fa-quote-right icon-button text-dark"></i>
                            <i class="fa fa-thumbs-up icon-button text-primary"></i>
                            <i class="fa fa-thumbs-down icon-button text-danger"></i>
                        </div>
                        <h3 th:text="${post.getTitle()}"></h3>
                        <p class="info" th:text="${#dates.format(post.getCreated(),'dd.MM.yyyy hh:mm:ss')}"></p>
                        <p th:utext="${post.getBody()}"></p>
                        <!--INSTRUCTIONS in NAVODY-->
                        <div th:if="${instructions}">
                            <hr/>
                            <div class="float-left" th:each="instruction : ${instructions}">
                                <a th:href="@{/getPDF/{id}(id=${instruction.getId()})}" data-toggle="tooltip"
                                   data-placement="top"
                                   th:title="${instruction.getFilename()}" download="download">
                                    <img th:src="@{/img/pdf-icon.png}" th:alt="${instruction.getFilename()}"/>
                                    Stiahnuť návod
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END CONTENT-->
            </div>
            <!--END POST-->

            <!--COMMENTS -->
            <div th:if="${comments} != null" th:each="comment : ${comments}" class="row border post">
                <div class="col-md-3 border-right">
                    <div class="post-user-info" th:switch="${post.getUser().getUserImg().generateBase64Image()}">
                        <p class="info"><strong th:text="${comment.getUser().getUsername()}"></strong></p>
                        <img th:case="''" th:src="@{/img/user-placeholder.png}"
                             class="img-fluid rounded-circle d-block mx-auto"/>
                        <img th:case="null" th:src="@{/img/user-placeholder.png}"
                             class="img-fluid rounded-circle d-block mx-auto"/>
                        <img th:case="*"
                             th:src="@{'data:image/jpeg;base64,'+ ${post.getUser().getUserImg().generateBase64Image()}}"
                             class="img-fluid rounded-circle d-block mx-auto"/>
                        <p class="info">
                            <span th:text="${post.getUser().getRole()}"></span>
                            <br/>
                            <strong>Prispevkov: </strong> <span th:text="${post.getUser().getPostCount()}"></span> <br/>
                            <strong>Clenom od: </strong> <span
                                th:text="${#dates.format(post.getUser().getCreated(),'dd.MM.yyyy')}"> </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="post-content">
                        <!--TODO likes, dislikes, quote-->
                        <!--<span class="pull-right quote"><strong><i class="fa fa-quote-right"></i></strong></span>-->
                        <p class="info" th:text="${comment.getCreated()}"></p>
                        <p th:utext="${comment.getBody()}"></p>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
        <!--END POST CONTENT-->

        <!--COMMENT AREA SHOW AFTER CLICK ON ODPOVEDAJ-->
        <form id="comment-area" class="row d-none" method="post" th:action="@{/new-comment}">
            <label for="comment-body">Vas komentar:</label>
            <textarea class="form-control" rows="5" id="comment-body" name="comment-body"></textarea>
            <button id="comment-button" class="btn btn-primary pull-left"> Pridaj komentár</button>
        </form>
        <!--COMMENT AREA END-->
        <div class="row">
            <div class="col-md-9">
                <button sec:authorize="isAuthenticated()" class="btn btn-primary new"><i class="fa fa-reply"></i>
                    Odpovedaj
                </button>
            </div>
            <div class="col-md-3" h:if="${post.getReplies()} != null">
                <p class="board-index"><span th:text="${post.getReplies()}"></span> Prispevkov • Strana 1 z 1</p>
            </div>
        </div>
    </div>
</div>
</html>