<html layout:decorator="index" xmlns:th="http://www.thymeleaf.org"
>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb" th:switch="${bazarItem.getCategory()}">
                    <li class="breadcrumb-item"><a href="/bazar">Bazár</a></li>
                    <li class="breadcrumb-item" th:case="quads"><a href="/quads"> Štvorkolky</a></li>
                    <li class="breadcrumb-item" th:case="spare-part"><a href="/spare-parts"> Náhradné diely </a></li>
                    <li class="breadcrumb-item" th:case="clothing"><a href="/clothing"> Výbava </a></li>
                    <li class="breadcrumb-item" th:case="acc"><a href="/accessories"> Doplnky </a></li>
                    <li class="breadcrumb-item active" th:text="${bazarItem.getTitle()}"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container bazar-items">
        <div class="row">
            <div class="col-sm-7 ">
                <div id="gallery" style="display:none">
                    <img th:each="image : ${images}" th:src="@{'data:image/png;base64,'+ ${image.generateBase64Image()}}"
                         th:attr="data-image='data:image/png;base64,'+ ${image.generateBase64Image()}"
                         th:alt="${image.getFilename()}"/>
                </div>
            </div>
            <div class="col-md-5">
                <h4 th:text="${bazarItem.getTitle()}"></h4>
                <span class="d-inline-block pull-right"></span>
                <table class="table-responsive bazar-item-details">
                    <tbody>
                    <tr th:switch="${bazarItem.getPrice()}">
                        <td><strong>Cena: </strong></td>
                        <td th:case="0"> dohodou </td>
                        <td th:case="null"> dohodou</td>
                        <td th:case="*" th:text="${#numbers.formatInteger(bazarItem.getPrice(),2,'WHITESPACE')} + ' &euro;'"></td>
                    </tr>
                    <!--TODO: pridat linky na subkaterogie => bude treba vytvorit filter requesty na vylistovanie bazaritemov podla subkategorie-->
                    <tr th:switch="${bazarItem.getSubcategory()}">
                        <td><strong>Kategória: </strong></td>
                        <td th:case="buggy"> buggy</td>
                        <td th:case="child"> detská</td>
                        <td th:case="work"> pracovná</td>
                        <td th:case="side"> side by side</td>
                        <td th:case="road"> cestná</td>
                        <td th:case="snow"> snežný skúter</td>
                        <td th:case="sport"> športová</td>
                        <td th:case="bundy"> topánky</td>
                        <td th:case="kombinezy"> kombinéza</td>
                        <td th:case="nohavice"> nohavice</td>
                        <td th:case="rukavice"> rukavice</td>
                        <td th:case="dresy"> dresy</td>
                        <td th:case="chranice"> chrániče</td>
                        <td th:case="okuliare"> okuliare</td>
                        <td th:case="prilby"> prilba</td>
                        <td th:case="kukly"> kukla</td>
                        <td th:case="termopradlo"> termoprádlo</td>
                        <td th:case="battery"> batéria</td>
                        <td th:case="blatniky"> blatníky</td>
                        <td th:case="brzdy"> brzdy</td>
                        <td th:case="pristrojovky"> budíky a prístrojovky</td>
                        <td th:case="spojky"> diely spojky</td>
                        <td th:case="elektronika"> elektronika</td>
                        <td th:case="filters"> filtre</td>
                        <td th:case="kapota"> kapotáže,plasty</td>
                        <td th:case="kolesa"> kolesá</td>
                        <td th:case="motor"> motory</td>
                        <td th:case="nadrz"> nádrže</td>
                        <td th:case="naradie"> náradie</td>
                        <td th:case="ostatne"> ostatné</td>
                        <td th:case="pneumatiky"> pneumatiky</td>
                        <td th:case="podvozok"> podvozky</td>
                        <td th:case="retaze"> reťaze</td>
                        <td th:case="riaditka"> riadítka</td>
                        <td th:case="sedla"> sedlá</td>
                        <td th:case="stupacky"> stupačky</td>
                        <td th:case="svetla"> svetlá a blinkre</td>
                        <td th:case="sviecky"> sviečky</td>
                        <td th:case="tlmice"> tlmiče</td>
                        <td th:case="vidlice"> vidlice</td>
                        <td th:case="vyfuky"> výfuky</td>
                        <td th:case="zrkadla"> zrkadlá</td>
                        <td th:case="ramy"> ochranné rámy</td>
                        <td th:case="podlozky"> rozširovacie podložky</td>
                        <td th:case="kufre"> kufre a boxy</td>
                        <td th:case="navijaky"> navijáky</td>
                        <td th:case="radlice"> radlice na sneh</td>
                        <td th:case="privesy"> prívesy a vozíky</td>
                        <td th:case="kryty"> kryty podvozku</td>
                        <td th:case="navleky"> návleky tlmičov</td>
                        <td th:case="oleje"> oleje a filtre</td>
                        <td th:case="ostatne"> ostatné</td>
                    </tr>
                    <tr th:switch="${bazarItem.getAdType()}">
                        <td><strong>Typ inzercie:</strong></td>
                        <td th:case="buy"> kúpa</td>
                        <td th:case="sell"> predaj</td>
                        <td th:case="change"> výmena</td>
                    </tr>
                    <tr th:switch="${bazarItem.getLocation()}">
                        <td><strong>Kraj: </strong></td>
                        <td th:case="BA">Bratislavský </td>
                        <td th:case="TT">Trnavský </td>
                        <td th:case="NR">Nitriansky </td>
                        <td th:case="TN">Trenčiansky </td>
                        <td th:case="ZA">Žilinský </td>
                        <td th:case="BB">Banskobystrický </td>
                        <td th:case="PO">Prešovský </td>
                        <td th:case="KE">Košický </td>
                        <td th:case="JC">Jihočeský</td>
                        <td th:case="JM">Jihomoravský</td>
                        <td th:case="KA">Karlovarský</td>
                        <td th:case="KH">Královéhradecký</td>
                        <td th:case="LIB">Liberecký</td>
                        <td th:case="MO">Moravskoslezský</td>
                        <td th:case="OL">Olomoucký</td>
                        <td th:case="PA">Pardubický</td>
                        <td th:case="PL">Plzeňský</td>
                        <td th:case="PR">Praha</td>
                        <td th:case="SC">Středočeský</td>
                        <td th:case="UST">Ústecký</td>
                        <td th:case="VZ">Vysočina</td>
                        <td th:case="ZL">Zlínský</td>
                    </tr>
                    <tr>
                        <td><strong>Pridané:</strong></td>
                        <td th:text="${#dates.format(bazarItem.getCreated(),'dd.MM.yyyy hh:mm')}"></td>
                    </tr>
                    <tr>
                        <td><strong> Meno:</strong></td>
                        <td th:text="${bazarItem.getUser().getUsername()}"></td>
                    </tr>
                    <tr>
                        <td>
                            <button id="contact-btn" class="btn btn-primary">Zobraziť kontakt</button>
                        </td>
                    </tr>
                    <tr th:switch="${bazarItem.getUser().getPhone()}" class="d-none contact">
                        <td><strong> Telefón:</strong></td>
                        <td th:case="null" th:text="${bazarItem.getUser().getPhone()}"></td>
                        <td th:case="*" th:text="${bazarItem.getUser().getPhone()}"></td>
                    </tr>
                    <tr class="d-none contact">
                        <td><strong> Email:</strong></td>
                        <td th:text="${bazarItem.getUser().getEmail()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bazar-item-text">
                <h4>Popis</h4>
                <p class="d-inline-block" th:text="${bazarItem.getText()}"></p>
            </div>
        </div>
    </div>
</div>
</html>