body {
  font-size: 20px;
  color: #212529;
  font-family: 'Lora', 'Times New Roman', serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #d32f2f;
}

blockquote {
  font-style: italic;
  color: #868e96;
}
main{
  margin-top: 1rem;
  padding-top: 1rem;
}
.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #d32f2f;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #d32f2f;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.register-nav {
  background-color: #212121 !important;
    color: white;
!important;
  display: block;
  position: relative;
}

@media only screen and (max-width: 990px) {
    .register-nav .collapsing ul li a, .in ul li a {
        color: #fff !important;
    }

    .register-nav .collapsing ul li a:hover, .in ul li a:hover {
        color: #d32f2f !important;
    }

    .register-nav .navbar-toggler {
        color: #fff !important;
    }

    .register-nav .navbar-brand {
        color: #fff !important;
    }

    .register-nav .collapse ul li a, .in ul li a {
        color: #fff !important;
    }

    .register-nav .collapse ul li a:hover, .in ul li a:hover {
        color: #d32f2f !important;
    }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #d32f2f;
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: #d32f2f;
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #d32f2f;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #d32f2f;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

header.masthead {
  background: #868e96 url("/img/header-bg-xs.jpg") no-repeat top;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  header.masthead {
    background: #868e96 url("/img/header-bg-sm.jpg") no-repeat top;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  header.masthead {
    background: #868e96 url("/img/header-bg.jpg") no-repeat center top;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  header.masthead {
    background: #868e96 url("/img/header-bg-xl.jpg") no-repeat center top;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.4;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 100px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 100px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #d32f2f;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #d32f2f;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #d32f2f;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.jumbotron{
    padding: 2rem 2rem !important;
    margin-bottom: 1rem ;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.btn-primary {
  background-color: #d32f2f;
  border-color: #d32f2f;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:disabled {
  color: #fff;
  background-color: #9a0007 !important;
  border-color: #9a0007 !important;
}
.btn-link{
  color: #d32f2f;
}
.btn-link:hover{
  color: #9a0007;
  text-decoration: none;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
/**
 * CUSTOM CSS
 */
#backToTop {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
}

#filter .form-group {
  margin-bottom: 1rem;
}


.menu-img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 350px;
  height: auto;
  max-height: 235px;
  opacity: .8;
  transition-duration: .5s;
}
.menu-img:hover{
  z-index: 100;
  opacity: 1;
  border: solid #d32f2f 2px;
  transform: scale(1.1);
}
.menu-img-overlay{
  background-color: #d32f2f;
  color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.menu-img:hover .menu-img-overlay{
  opacity: 1;
}
.menu-text{
  font-size: smaller;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.menu-text p{
  margin-top:5px;
  margin-bottom: 5px;
}

.info{
  font-size: smaller;
  opacity: 0.7;
}
.category-heading{
  background-color: #212121;
  color: white;
  text-transform: uppercase;
}
.banner{
    padding: 15px;
  width: 100%;
  height: auto;
}
.divider{
  padding: 20px;
}
.forum-table{
  margin-bottom: 2rem;
  font-size: smaller;
}
.forum-table td{
  vertical-align: middle;
}
.forum-table p{
    margin: auto;
}
.forum-table a{
    color: white;
}
.forum-table td a{
    color: #212121;
}
.forum-table a:hover{
    color: #d32f2f;
    text-decoration: none;
}

#sidebar {
    font-size: smaller;
}

#sidebar a {
  margin-bottom: 1rem;
}

#sidebar a:hover {
  text-decoration: none;
}

.breadcrumb-item a {
    font-weight: bold;
    text-decoration: none;
}
.post-user-info {
    align-content: center;
    text-align: center;
  vertical-align: top;
     margin: auto;
}
.post-user-info img{
  max-width: 100px !important;
}
.post{
  margin-top: 1rem;
}
.post-content {
    padding: 1rem;
    margin-top: auto;
    text-align: left;
    vertical-align: top;
    border: transparent;
}
.post-content p {
    margin: auto;
  padding: 0.25rem;
    font-size: smaller;
}

.icon-button {
  padding: .5rem;
  cursor: pointer;
}

.icon-button:hover {
  padding: .5rem;
  cursor: pointer;
  opacity: 0.7;
}
.border-right{
    border-right:  1px solid #e9ecef !important ;
}
.modal-body .form-control{
  border: none;
  background-color: #efefef;
  border-radius: 0;
}
.modal-body .form-control:focus{
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #d32f2f;
}
/*BAZAR*/
.bazar-item{
  margin-top: 1rem ;
  padding: 1rem;
}

.bazar-item img{
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  max-height: 250px;
}
.bazar-item-text {
    padding: 10px;
    display: block;
    text-align: left;
    vertical-align: middle;
}

.bazar-item-text p {
    margin-top: 1rem;
}
.bazar-item-parameters{
    display: block;
  margin: auto;
    text-align: center;
    vertical-align: middle;
    font-size: smaller;
}
.bazar-item-details td{
  padding: 5px;
}
.bazar-item-box{
  padding: 2rem;
}
button:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
a:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
/*LOGIN*/
.login-container{
  display: block;
    margin-top: 5rem;
  max-width: 500px;
}


.input-group-prepend {
  max-width: 40px;
}
/*PROFILE*/
.nav-pills .nav-link.active{
  color: #ffffff;
  background-color: #484848;
}
.card  p {
  margin: 1rem !important;
}

.card .form-group {
    padding-top: 1rem !important;
}
.profile-img{
  display: inline-block;
  width: 250px;
  height: 250px;
  background: no-repeat center center;
  background-size: cover;
}
.error{
  background: #868e96 url("/img/splash.png") no-repeat  top center scroll;
}

.captcha {
  display: block;
  margin: 1rem;
}