<html layout:decorator="usermanagement" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <div class="middle-box text-center animated fadeInDown my-1">
        <h4> Zadajte emailovú adresu pre reset hesla!</h4>
        <br/>
        <div th:if="${successMessage}" class="alert alert-success"
             role="alert" th:text="${successMessage}"></div>
        <div th:if="${errorMessage}" class="alert alert-danger"
             role="alert" th:text="${errorMessage}"></div>

        <form class="needs-validation" id="forgotForm" role="form" th:object="${user}"
              th:action="@{/forgot}" method="post">
            <input type="hidden" name="token" th:value="${resetToken}"/>
            <div class="form-group input-group">
                <div class="input-group-prepend" id="emailIcon">
                    <span class="input-group-text fa fa-envelope"></span>
                </div>
                <input name="email" type="email" id="email"
                       placeholder="email@example.com" class="form-control form-control-success" required="required"
                       aria-describedby="emailIcon"/>
            </div>

            <button type="submit" class="btn btn-primary">Odoslať email!</button>
        </form>

    </div>
</div>
</html>