<html layout:decorator="usermanagement" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div layout:fragment="content">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top register-nav" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/index">Quad Forum</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index"><i class="fa fa-home"></i> Domov</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news"><i class="fa fa-newspaper-o"></i> Novinky</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/forum"><i class="fa fa-users"></i> Fórum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bazar"><i class="fa fa-shopping-basket"></i> Bazár</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" class="nav-link" href="/profile"><i
                                class="fa fa-user-o"></i> Profil</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-center">Ste u nás nový? Vytvorte si účet..</h1>
    <form autocomplete="off" id="register-form" class="form-horizontal" role="form" th:action="@{/register}"
          th:object="${user}" method="post">
        <div class="container">
            <div th:if="${confirmationMessage}" class="alert alert-success" role="alert" th:text="${confirmationMessage}"></div>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
            <div th:if="${alreadyRegisteredMessage}" class="alert alert-success" role="alert" th:text="${alreadyRegisteredMessage}"></div>
            <div th:if="${sameUsername}" class="alert alert-danger" role="alert" th:text="${sameUsername}"></div>

            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message alert alert-danger" role="alert"></div>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message alert alert-danger" role="alert"></div>


            <div class="form-group input-group has-feedback">
                <label th:if="${#fields.hasErrors('username')}"
                       th:errors="*{username}" class="validation-message"></label>
                <div class="input-group-prepend" id="nickIcon">
                    <span class="input-group-text fa fa-user-secret"></span>
                </div>
                <input type="text" th:field="*{username}"
                       placeholder="Používateľské meno (prezývka)" class="form-control" required="required" />
                <span class=" form-control-feedback"
                      aria-hidden="true"></span>
            </div>
            <div class="form-group input-group has-feedback">
                <label th:if="${#fields.hasErrors('firstName')}"
                       th:errors="*{firstName}" class="validation-message"></label>
                <div class="input-group-prepend" id="firstNameIcon">
                    <span class="input-group-text fa fa-user"></span>
                </div>
                <input type="text" th:field="*{firstName}"
                       placeholder="Meno" class="form-control" required="required" />
                <span class=" form-control-feedback"
                      aria-hidden="true"></span>
            </div>

            <div class="form-group input-group has-feedback">
                <div class="input-group-prepend" id="lastNameIcon">
                    <span class="input-group-text fa fa-user"></span>
                </div>
                <input type="text" th:field="*{lastName}"
                       placeholder="Priezvisko" class="form-control" required="required" />
                <span class=" form-control-feedback"
                      aria-hidden="true"></span>
            </div>

            <div class="form-group input-group has-feedback">
                <div class="input-group-prepend" id="emailIcon">
                    <span class="input-group-text fa fa-envelope"></span>
                </div>
                <input type="email" th:field="*{email}"
                       placeholder="Emailová adresa" class="form-control"
                       data-error="Táto emailová adresa nie je valídna!" required="required"/>
                <span class="form-control-feedback"
                      aria-hidden="true"></span>
            </div>
            <div class="row">
                <div class="g-recaptcha captcha" data-sitekey="6Ld6NVUUAAAAAFz-R1lU6ckSdfH47VZg-aW1ppr9"
                     data-callback="enableBtn"></div>
            </div>
            <div>
                <button id="registerBtn" type="submit" class="btn btn-primary btn-block"> Vytvoriť účet</button>
            </div>
            <script>

                /**
                 * REGISTER CAPTCHA
                 */
                document.getElementById("registerBtn").disabled = true;

                function enableBtn() {
                    console.log("enabled");
                    document.getElementById("registerBtn").disabled = false;
                }
            </script>
        </div>
    </form>
</div>
</html>