<html layout:decorator="usermanagement" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <div class="middle-box text-center animated fadeInDown my-1">
        <h4> Vytvorte si nové heslo k Vášmu účtu!</h4>
        <br/>
        <div th:if="${successMessage}" class="alert alert-success"
             role="alert" th:text="${successMessage}"></div>
        <div th:if="${errorMessage}" class="alert alert-danger"
             role="alert" th:text="${errorMessage}"></div>
        <div th:if="${invalidToken}" class="alert alert-danger"
             role="alert" th:text="${invalidToken}"></div>

        <form autocomplete="off" class="needs-validation" th:if="!${invalidToken}" id="passwordForm" role="form"
              th:object="${setPassword}"
              th:action="@{/reset}" method="post">
            <input type="hidden" name="token" th:value="${resetToken}"/>
            <div class="form-group input-group">
                <div class="input-group-prepend" id="passwordIcon">
                    <span class="input-group-text fa fa-lock"></span>
                </div>
                <input name="password" type="password" id="password"
                       placeholder="Heslo" class="form-control form-control-success" required="required"
                       aria-describedby="passwordIcon"/>
            </div>
            <div class="form-group input-group has-feedback">
                <div class="input-group-prepend" id="confirmIcon">
                    <span class="input-group-text fa fa-lock"></span>
                </div>
                <input type="password" class="form-control" id="signup-password-confirm" placeholder="Potvrdenie hesla"
                       name="ConfirmPassword" required="required"
                       aria-describedby="confirmIcon"/>
            </div>
            <button type="submit" class="btn btn-primary">Uložiť</button>
        </form>

    </div>
</div>
</html>