<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Quad-forum </title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom fonts for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/clean-blog.css}" rel="stylesheet"/>
    <!--cookies-->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
</head>
<body class="error">
<nav class="navbar navbar-expand-lg navbar-light fixed-top register-nav" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/index">Quad Forum</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index"><i class="fa fa-home"></i> Domov</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news"><i class="fa fa-newspaper-o"></i> Novinky</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/forum"><i class="fa fa-users"></i> Fórum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bazar"><i class="fa fa-shopping-basket"></i> Bazár</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/profile"><i class="fa fa-user-o"></i> Profil</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
    <div class="container d-block" style="margin-top: 15%">
        <!-- page content -->
        <div class="col-md-12">
            <div class="col-middle">
                <div class=" jumbotron text-center text-center">
                    <h1 class="error-number">Error!</h1>
                    <h2>Oops,niečo sa pokašľalo!</h2>
                    <p>Stránka alebo požiadavka, ktorú ste vykonali nie je zatial implementovaná alebo nefunguje.</p>
                    <div class="clearfix"></div>
                    <div class="btn-group">
                        <button class="btn btn-primary" onclick="goBack()"> Späť na predošlú stránku </button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <!-- /page content -->
    </div>

    <!-- jQuery -->
    <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- Custom Theme Scripts -->
    <script th:src="@{/build/js/custom.min.js}"></script>
</body>

</html>