<!DOCTYPE html >
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description"
          content="Novinky zo sveta štvorkoliek, diskusné fórum, návody, preteky, inzercia štvorkoliek a doplnkov."/>
    <meta name="author" content="Quad-forum.sk"/>

    <title>Quad-forum.sk - Portál pre všetkých nadšencov štvorkoliek ATV/UTV</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom fonts for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/clean-blog.css}" rel="stylesheet"/>
    <!--cookies-->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <!--range slider-->
    <link th:href="@{/vendor/slider/css/ion.rangeSlider.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendor/slider/css/ion.rangeSlider.skinFlat.css}" rel="stylesheet" type="text/css"/>

    <link type="text/css" rel="stylesheet" th:href="@{/vendor/lightslider/src/css/lightslider.css}" />

    <link type="text/css" rel="stylesheet" th:href="@{/vendor/unitegallery/css/unite-gallery.css}"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script th:inline="javascript" async="async"
            src="https://www.googletagmanager.com/gtag/js?id=UA-116855017-1"></script>
    <script th:inline="javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-116855017-1');
    </script>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/index">Quad-forum.sk</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index"><i class="fa fa-home"></i> Domov</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news"><i class="fa fa-newspaper-o"></i> Novinky</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/forum"><i class="fa fa-users"></i> Fórum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bazar"><i class="fa fa-shopping-basket"></i> Bazár</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/profile"><i class="fa fa-user-o"></i> Profil</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" href="/login"><i class="fa fa-power-off"></i><b> Prihlásenie</b></a>
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/logout"><i class="fa fa-sign-out"></i><b> Odhlásiť</b></a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/register"><i class="fa fa-user-o"></i><b> Registrácia</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-xs-6 mx-auto">
                <div class="site-heading">
                    <h1>quad-forum.sk</h1>
                    <span class="subheading">Slovenský portál pre nadšencov štvorkoliek </span>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div layout:fragment="content">

    </div>
</main>
<!-- Footer -->
<footer>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.atvpneumatiky.sk/">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UCs7j5F8vi9lrk44ioItFAKQ">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="backToTop" href="#" onclick="topFunction()">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                </ul>
                <p class="copyright text-muted">Copyright &copy; Quad-forum.sk 2018</p>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
<!-- Custom scripts for this template -->
<script th:src="@{/js/clean-blog.js}" type="text/javascript"></script>
<!--range slider-->
<script th:src="@{/vendor/slider/js/ion.rangeSlider.min.js}" type="text/javascript" ></script>
<!--lightSlider-->
<script th:src="@{/vendor/lightslider/src/js/lightslider.js}" type="text/javascript" ></script>
<!--galery-->
<script th:src="@{/vendor/unitegallery/js/unitegallery.min.js}"></script>
<script th:src="@{/vendor/unitegallery/themes/compact/ug-theme-compact.js}"></script>
<!--TinyMCE-->
<script th:src="@{/vendor/tinymce/tinymce.js}"></script>
<!--cookies popup-->
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>

</body>
</html>